{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<div class="lg">

</div>

<div class="row">
    <div class="reg">
        <h2 style="text-align: center;">Login</h2><br>
        {% for msg in messages %}
        <p style="color:red; font-size=2px;">*{{msg}}</p>
        {% endfor %}

        <form action="login" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter your username" required>
            <input type="password" name="password" placeholder="Enter your Password" required>
            <br><br>

            <input type="submit" class="button" value="Login" name="login">
        </form>
    </div>
</div>


</body>
</html>